:root {
  --primary-color: #296F4A;
  --primary-color-5: #39875D;


  --primary-color-dark: #133F28;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 243, 248);
}

h1 {
  font-size: 34pt;
  font-weight: 600;
}

h2 {
  font-size: 28pt;
  font-weight: 500;
  margin-bottom: 24px;
}

h3 {
  font-size: 22pt;
  margin-bottom: 16px;
  line-height: 40px;
}

h4 {
  font-size: 16pt;
  margin-bottom: 8px;
  line-height: 32px;
}

p {
  font-size: 12pt;
  line-height: 32px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-family: Arial, Helvetica, sans-serif;
}
