.ReviewsList {
  width: 1100px;
  padding: 24px 48px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
}

.ReviewsList li {
  list-style-type: none;
}

.ReviewsList h3 {
  margin-top: 8px;
  margin-bottom: 16px;
}

.comment-rating-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 16px 16px 8px 16px;
  border-bottom: 1px solid rgb(204, 201, 201);
  gap: 8px
}

.comment-rating-content:last-child {
  border-bottom: none;
}

p.ReviewsList-author-date {
  font-size: 10pt;
  font-style: italic;
  color: rgb(94, 91, 91);
  line-height: 16px;
}