.DropDownList-wrapper {
  padding-right: 16px;
  border: solid 2px var(--borders-color);
  border-radius: 8px;
  color: var(--labels-text-color);
  overflow: hidden;
}

.DropDownList {
  padding: 16px;
  border-style: none;
  font-size: 12pt;
}

.DropDownList-withLabel {
  display: flex;
  flex-direction: column;
}

.DropDownList-withLabel label {
  color: var(--labels-text-color);
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12pt;
}
