button {
  height: 48px;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14pt;
  font-weight: 800;
  border-style: none;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.contained {
  background-color: var(--primary-color);
  color: white;
}

.contained:hover {
  background-color: var(--primary-color-5);
  color: white;
}

.outlined {
  color: var(--primary-color);
  border: solid;
  border-color: var(--primary-color);
  background-color: white;
}
.outlined:hover {
  background-color: var(--primary-color-0);
}

.with-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}