.new-recipe-card {
  width: 1000px;
  padding: 48px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
}

h3 {
  margin-top: 24px;
  margin-bottom: 40px;
}

.info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 32px;
}

.info-section h4 {
  font-size: 14pt;
  font-weight: 500;
  width: 200px;
  text-align: end;
  margin-right: 24px;
}

.inputs-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  border-left: 1px solid rgb(173, 170, 170);
}

.inputs-section.informations,
.inputs-section.preparation,
.inputs-section.ingredients {
  gap: 16px;
}

.ingredients-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.steps-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.step-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-more {
  font-size: 12pt;
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-color-dark);
  display: inline;
}

.steps-management {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
