.SearchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 380px;
}

.SearchBar-text-field {
  width: 100%;
}

.SearchBar-text-field input {
  padding: 12px !important;
  padding-left: 16px !important;
}

.lupe {
  cursor: pointer;
}
