.UserRecipeCard {
  background-color: white;
  display: flex;
  width: 850px;
  border-radius: 8px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.2);
  padding: 16px;
}

.UserRecipeCard-image-container img{
  border-radius: 8px;
}

.user-recipe-details {
  width: 100%;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.userRecipeCard-options {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  flex: 1;
  align-items: flex-end;
 }

.userRecipeCard-options p {
  font-size: 12pt;
  text-decoration: underline;
  cursor: pointer;
  color: var(--primary-color-dark);
}
