.recipe-card {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding: 32px;
  margin-bottom: 24px;
  background-color: aquamarine;
}

.titles {
  font-weight: bold;
  font-size: 16pt;
}

p {
  font-size: 14pt;
  line-height: 24px;
}

h3 {
  font-weight: bold;
}

.step {
  font-weight: bold;
}