.recipe-details-card {
  display: flex;
  flex-direction: column;
  width: 1100px;
  padding: 48px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
  gap: 16px;
}
.recipe-details-card h2 {
  margin-bottom: 16px;
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.step {
  font-weight: bold;
}

.ingredients-image-container {
  display: flex;
  justify-content: space-between;
}

.image-container {
  height: 400px;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-detail-page-text-container {
  display: flex;
  gap: 60px;
}

.ingredients-container {
  flex: 1;
}

.preparation-container {
  flex: 2;
}

.ingredients {
  list-style-position: inside;
  list-style-type: circle;
  /* list-style-image: url('sqpurple.gif'); */
}

.ingredients p {
  display: inline;
}

.reviews-area {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h3.titles {
  margin-bottom: 0px;
  line-height: normal;
  margin-top: 24px;
}

.titles-logo {
  display: flex;
  gap: 12px;
  align-items: baseline;
  margin-bottom: 16px;
}

.serving-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 10px
}

.serving-container h3 {
  margin-top: 0px;
}

.serving-container span {
  font-size: 16pt;
}

p.created-details {
  font-style: italic;
}

.title-details {
  display: flex;
  justify-content: space-between;
}