
.InputTextField {
  display: flex;
  flex-direction: column;
  color: #344054;
  font-size: 10pt;
}

.InputTextField label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12pt;
}

.InputTextField input, .InputTextField textarea {
  padding: 16px;
  border-style: none;
  border: solid 2px;
  border-color: rgb(209, 206, 206);
  border-radius: 8px;
  font-size: 12pt;
}

input:focus-visible, textarea:focus-visible{
  border: 2px solid var(--primary-color);
}

.InputTextField:focus-within label {
  color: var(--primary-color-dark);
  font-weight: 600;
}

/* For the big blocks of text like Description */
.InputTextField textarea {
  line-height: 24px;
}

.error, .error input, .error.InputTextField:focus-within label {
  color: var(--alert-color);
  border-color: var(--alert-color);
}

.error p {
  font-style: italic;
}