.sign-in {
  width: 1500px;
  padding-left: 48px;
  margin-bottom: 24px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 6px 10px rgba(0,0,0,0.1);
  display: flex;
}

.sign-in-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  padding: 40px;
  padding-right: 80px;
  gap: 16px
}

.sign-in-text h3 {
  align-self: center;
  margin-bottom: 24px 
}

.sign-in-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0px 8px 8px 0px;
}

.remember-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.no-account {
  text-align: center;
}