.remember-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.no-account {
  text-align: center;
}

.no-account span {
  text-decoration: none;
  font-weight: 600;
}
