.input-field {
  display: flex;
  flex-direction: column;
  color: #344054;
  font-size: 10pt;
}

.input-field.checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #344054;
  font-size: 10pt;
  height: 28px;
  gap: 8px
}

.input-field.checkbox label{
  margin: 0;
}

.input-field label {
  margin-bottom: 8px;
}

.input-field input {
  height: 48px;
  border-style: none;
  border: solid 2px;
  border-color: rgb(209, 206, 206);
  border-radius: 8px;
}

.text-area input{
  height: 72px;
}