.CurrentUserRecipes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.CurrentUserRecipes h3 {
  margin-bottom: 16px;
}

.CurrentUserRecipes-titles-logo {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
