.nav-bar {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
  box-shadow: 2px 6px 4px rgba(0,0,0,0.1);
  padding: 32px 80px;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 44px;
}

.nav-menu h4 {
  margin: 0;
}
